/* font-family: "Amatic SC"; */

/* font-family: " sans-serif; */

/* font-family:"Inter, sans-serif"; */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Amatic SC", sans-serif;
}
h3 {
  font-family: "Inter", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  color: rgb(127, 127, 144);
}
span {
  font-family: "Inter", sans-serif;
  color: rgb(127, 127, 144);
}
.container {
  width: 85%;
}

/* <!-- navbar section --> */
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar {
  top: 0;
  left: 0;
  z-index: 99999;
  position: sticky;

  color: #212529;
  padding: 25px 0;
  background-color: #fafafa;
}

#navbar .nav-menu ul {
  /* mobile first */
   display: none; 
}
#navbar .nav-menu ul li {
  font-size: 17px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;

}
#navbar .nav-menu ul {
  gap: 20px;
}

#navbar .nav-logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
#navbar .nav-icon {
  font-size: 25px;
  font-weight: 900;
  line-height: 25px;
  display: flex;
}
#navbar .nav-icon a {
  padding: 0 10px;
}
#navbar .nav-icon  .bars{
    /* mobile first */

  display: block;
}

#navbar .nav-logo a {
  color: rgb(33, 37, 41);
}
#navbar .nav-icon a {
  color: rgb(33, 37, 41);
}
#navbar .nav-menu ul li a {
  color: rgb(127, 127, 144);
  position: relative;
  transition: all 0.4s;
}

#navbar .nav-menu ul li a::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 50px;
  background-color: #ce1212;
  top: 30px;
  left: 0;

  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
}

#navbar .nav-menu ul li a:hover {
  color: rgb(33, 37, 41);
}

#navbar .nav-menu ul li a:hover::before {
  transform: scaleX(1);
}

#navbar .nav-menu ul li a.active {
  color: rgb(33, 37, 41);
}

#navbar .nav-menu ul li a.active::before {
  transform: scaleX(1);
}

#navbar a span {
  color: #ce1212;
  font-size: 30px;
  padding: 30px 0;
}

/* <!-- Home section --> */

#Home {
  background-color: #eeeeee;
  padding: 40px 0;
}
#Home .container {
   display: flex; 
    flex-direction: column; 
      padding: 30px 0;
 


}
#Home .home-content {
  text-align: center;
    margin: 50px 0;
order: 2;
}
#Home .home-image{
  order: 1;
}
#Home .home-content h1 {
  font-size: 65px;
  font-weight: 700;
  color: rgb(55, 55, 63);
}
#Home .home-content p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(79, 79, 90);
  padding: 20px 0;
}

#Home .home-content .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
#Home .home-content .buttons a {
  padding: 10px 20px;
}

#Home .home-content .border {
  background-color: #ce1212;
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
   border-top-left-radius: 50px; 

  transition: all 0.4s ease;
}
#Home .home-content .border:hover {
  background-color: #e61414;
}

#Home .home-content .video-btn {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  justify-content: center;
  color: #212529;
  transition: all 0.4s ease;
}
#Home .home-content .video-btn:hover {
  color: #ce1212;
}

#Home .home-content .video-btn .video-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Home .home-content .video-btn .video-icon i {
  z-index: 555;
}

#Home .home-content .video-btn .video-icon::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
#Home .home-content .video-btn .video-icon::before {
  position: absolute;
  content: "";
  background-color: #ce1212;
  width: 25px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  right: 50%;
}

#Home .home-image img {
  width: 100%;
  filter: drop-shadow(4px 4px 9px #000a);
  display: block;
  transform-origin: center;
}

#Home .home-image img:hover {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(1deg);
  }
}

/* <!-- Chefs section --> */

#Chefs {
  text-align: center;
  padding: 50px 0;
}

#Chefs .chef-title span {
  font-size: 14px;
  font-weight: 400;
}
#Chefs .chef-title h2 {
  font-size: 50px;
  font-weight: 400;
  color: rgb(33, 37, 41);
}
#Chefs .chef-title h2 span {
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  color: #ce1212;
}

#Chefs .chef-cards {
    gap: 40px;   
  margin: 40px 0;
}
#Chefs .chef-cards .card {
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 15px 0px;
  border-radius: 12px;
  transition: all 0.03s;
  position: relative;
  overflow: hidden;
      margin: 40px 0;  

}
#Chefs .chef-cards .card img {
  border-radius: 12px;
  width: 100%;
}
#Chefs .card-content {
  padding: 20px;
  display: block;
}
#Chefs .card-content h3 {
  font-size: 19px;
  font-weight: 700;
  color: rgb(33, 37, 41);
}
#Chefs .card-content span {
  font-size: 14px;
  font-weight: 400;
  margin-block: 10px;
  display: inline-block;
}
#Chefs .card-content p {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  color: rgb(127, 127, 144);
}

#Chefs .card-img {
  position: relative;
}
#Chefs .card-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
  background-image: url(../imgs/svg.png);
}
#Chefs .chef-cards .card {
  transition: all 0.5s;
}

#Chefs .chef-cards .card .card-overlay  {
  background-color: #2b212134;
  color: #eeeeee;
  position: absolute;
  padding: 10px;
  border-radius: 11px;
  top: 30px;
  right: 20px;
  transform: translateX(200px);
  transition: all 1s;
}
#Chefs .chef-cards .card .card-overlay li {
  padding: 10px 0;
  color: #2b0b0b2a;
}
#Chefs .chef-cards .card .card-overlay a{
  transition: all 0.4s;

}
#Chefs .chef-cards .card .card-overlay li a:hover {
  color: #494a4dae;
}

#Chefs .chef-cards .card:hover {
  transform: scale(1.1);
}
#Chefs .chef-cards .card:hover .card-overlay {
  transform: translateX(0px);
}

/* <!-- Gallery section --> */

#Gallery {
  background-color: #eeeeee;
  text-align: center;
  padding: 70px 0;
}

#Gallery .gallery-title {
  padding: 30px 0;
}
#Gallery .gallery-title span {
  font-size: 14px;
  font-weight: 400;
}

#Gallery .gallery-title h2 {
  font-size: 50px;
  font-weight: 400;
  color: rgb(33, 37, 41);
}

#Gallery .gallery-title h2 span {
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  color: #ce1212;
}

#Gallery .gallery-imgs {
  display: grid;
     grid-template-columns:  1fr; 

   gap: 15px; 
}

#Gallery .gallery-imgs .column {
   display: flex; 
   flex-direction: column; 
   gap: 15px; 
}

#Gallery .gallery-imgs .gallery-card {
  position: relative;
  overflow: hidden;
  border: 6px solid #fff;
}

#Gallery .gallery-imgs .gallery-card img {
  width: 100%;
  display: block;
  transition: transform 0.4s;
}

#Gallery .gallery-imgs .gallery-card:hover img {
  transform: scale(1.1);
}

#Gallery .gallery-imgs .gallery-card .layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transform: translateY(100%);
  transition: transform 0.4s;
}

#Gallery .gallery-imgs .gallery-card:hover .layer {
  transform: translateY(0);
}

#Gallery .gallery-imgs .gallery-card .layer h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

#Gallery .gallery-imgs .gallery-card .layer p {
  font-size: 16px;
  color: #ddd;
  padding-top: 10px;
}

/* <!-- Contact section --> */

#Contact {
  padding: 50px 0;
}

#Contact .contact-title {
  padding: 30px 0;
  text-align: center;
}
#Contact .contact-title span {
  font-size: 14px;
  font-weight: 400;
}
#Contact .contact-title h2 {
  font-size: 50px;
  font-weight: 400;
  color: rgb(33, 37, 41);
}

#Contact .contact-title h2 span {
  font-size: 50px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  color: #ce1212;
}
#Contact .map iframe {
  width: 100%;
}
#Contact .details {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-block: 20px;
  --gap: 20px;
  gap: var(--gap);
}
#Contact .details .card {
  /* width: calc(calc(100% - var(--gap)) / 2); */
  background-color: #f5f5f5;
  padding: 23px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;

}

#Contact .details .card .icon {
  border-radius: 50%;
  color: white;
  font-size: 18px;
  padding: 15px;
  background-color: #ce1212;
  align-items: center;
  justify-content: center;
  display: flex;
}

#Contact .details .card h4 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(125, 125, 125);
  margin-bottom: 5px;
}
#Contact .details .card a,
p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 37, 41);
}
#Contact .details .card span {
  font-weight: 700;
  color: rgb(33, 37, 41);
}
#Contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  --gap: 15px;
  gap: var(--gap);
  box-shadow: 0 0 30px #00000014;
  padding: 25px;
  margin: 25px 0;
}

#Contact form .input-group {
  /* display: flex; */
  /* flex-wrap: wrap; */
  --gap: 10px;
  gap: var(--gap);
}
#Contact form .input-group input {
  /* width: calc(calc(100% - var(--gap)) / 2); */
  width: 100%;
margin: 10px 0;}

#Contact form > *:not(button) {
  width: 100%;
}
#Contact input,
textarea {
  padding: 15px;
  border: 1px solid;
  transition: border-color var(--fa-animation-direction);
}
#Contact textarea {
  resize: vertical;
  max-height: 350x;
  min-height: 150px;
}
#Contact :is(input, textarea):focus {
  outline: none;
  border-color: #ce1212;
}

#Contact form button {
  padding: 15px 50px;
  margin: 30px;
}
#Contact form button {
  background-color: #ce1212;
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
}

/* <!-- footer section --> */

#footer {
  background-image: linear-gradient(#0003, #0009),
    url(../imgs/textured-metal-background.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 30px 0;
}
#footer .container {
  /* display: flex; */
  --gap: 20px;
  gap: var(--gap);
}
#footer .about h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
#footer .about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 0;
}

#footer .about i {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

#footer :is(.about, .contact) {
  /* width: calc(calc(100% - var(--gap) * 2) / 4); */
}
#footer :is(.subscribe) {
  /* width: calc(calc(100% - var(--gap) * 2) / 2); */
}
#footer .about > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

#footer .about img {
  width: 40px;
}
#footer p,
a {
  color: white;
}

#footer .about span {
  color: #ce1212;
}
#footer .about h3 {
  border-bottom: 2px solid #585858;
  text-align: center;
  padding-block: 10px;
  margin-block: 10px;
  font-size: 19px;
  font-weight: 700;
}

#footer .about ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

#footer button {
  background-color: #ce1212;
  color: white;
  border: none;
  padding: 10px;
  font-size:15px
 ;
 font-weight:400
 ;
 width: 100%;
     margin-block: 5px ;

}

#footer .subscribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer .subscribe h2 {
  font-size: 19px;
  font-weight: 700;
  font-family: Inter, sans-serif;
}
#footer .subscribe p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 5px 0;
}

#footer .subscribe-box {
  /* display: flex; */
   --gap: 5px;
  gap: var(--gap); 
}
#footer .subscribe input {
    flex-grow: 1;  
  outline: none;
  padding: 10px;
    width: 100%;
         margin-block: 5px ;
 
}

#footer .subscribe .quick-links ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap);
  margin-top: 5px;
}
#footer .quick-links ul li {
  width: calc(calc(100% - var(--gap)) / 2);
  padding: 7px;
  transition: all 0.4s;
  font-size:16px
 ;
  font-weight:400
 ;
 font-family:  "Open Sans", sans-serif;
}
#footer .quick-links ul li:hover {
  transform: translateX(10px);
  background-color: #222;
}
#footer .quick-links h3 {
  font-size: 19px;
  font-weight: 700;
  padding: 10px;
}
#footer .contact {
  margin: 10px 0;
}
#footer .contact ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size:16px
 ;
  font-weight:400 ;
  padding: 10px 0;
}
#footer .contact ul li i {
 
  display: flex;
  align-items: center;
  color: #ce1212;
  font-size: 22px;
  cursor: pointer;
  font-weight: 900;
}
#footer .contact h3 {
  margin-bottom: 15px;
  font-size:19px
 ;
  font-weight:700 ;
}
